<nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/pull'" routerLinkActive="active" >Pull</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/push-rx'" routerLinkActive="active" >Push - RxJs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/push-ngrx'" routerLinkActive="active" >Push - NgRx</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/push-signals'" routerLinkActive="active" >Push - Signals</a>
      </li>
    </ul>
</nav>
